html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid gray;
  border-radius: 10px;
  width: 600px;
  padding: 1rem;
  box-shadow: 30px 40px 80px gray;
}

.header-text {
  font-size: 20px;
  font-weight: bold;
}

.add-text {
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 40px;
  font-size: 16px;
}

.tasks-list {
  padding: 0;
}

.tasks-list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  padding: 0 1rem;
  border-bottom: 2px solid gray;
}

.listInput input {
  width: 100%;
  font-size: 18px;
  padding: 0.8rem 0.4rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.clear-btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
